option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    AWS_REGION: eu-north-1
    COGNITO_USER_POOL_ID: eu-north-1_rXrrnI6cZ
    COGNITO_REGION: eu-north-1
    DYNAMODB_REGION: eu-north-1
    S3_BUCKET: neofeed-profile-images
    S3_REGION: eu-north-1
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
