option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 5000
  aws:elasticbeanstalk:environment:process:default:
    Port: '5000'
    Protocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
  aws:autoscaling:asg:
    MinSize: '2'
    MaxSize: '10'
  aws:elasticbeanstalk:command:
    Timeout: '600'
